extends ../../layout/default.pug

block main

  h1 Danh muc san pham
  .card.mb-3 
    .card-header Danh sach
    .card-body.mb-3
      .row
        .col-8
          a()
        .col-4
          a(
            href=`${prefixAdmin}/products-category/create`
            class="btn btn-outline-success"
          ) Them moi

                  
  table(
    class = "table table-hover table-sm"
    checkbox-multi
  )
    thead
      tr
        th
          input(type="checkbox", name="checkall" ) 
        th STT
        th Hinh anh
        th Tieu de 
        th Vi tri
        th Trang thai 
        th Hanh dong
    
    tbody 
      each item, index in records
        tr
          td
            input(
              type="checkbox", name="id", value=item.id
            ) 
          td #{index + 1}
          td 
            img(src= item.thumbnail, alt="alt" width="100px" height="auto")
          td #{item.title}
         
          td 
            input(
              type="number",
              value=item.position,
              name="position",
              min="1",
              style="width: 60px"
            )
          td  
            if(item.status == "active")
              //- THẻ a mặc định phương thức GET nên ko dùng sai phươgn thức đc 
              //- href="javascript:;" giong xu ly form
              a(
                href="javascript:;" 
                class="badge badge-success"
                button-change-status
                data-status = item.status
                data-id = item.id
              ) Dang Hoat dong
            else  
              a(
                href="javascript:;" 
                class="badge badge-danger" 
                button-change-status 
                data-status = item.status
                data-id = item.id
                ) Dug Hoat dong
          td 
            a(
              class="btn btn-secondary btn-sm"
              href=`${prefixAdmin}/products-category/detail/${item.id}`
            ) xem chi tiet
            a(
              class="btn btn-warning btn-sm"
              href=`${prefixAdmin}/products-category/edit/${item.id}`
            ) Sua
            //- dong 108 button -> a để có thuộc tính href và GET method 
            button(class="btn btn-danger btn-sm ml-1"
            data-id = item.id
            button-delete
            ) Xoa
