mixin table-tree(records, level = 1)
  each item, index in records
    - const prefix = Array(level + 1).join("-- ")
    tr
      td
        input(
          type="checkbox", name="id", value=item.id
        ) 
      td #{item.index}
      td 
        img(src= item.thumbnail, alt="alt" width="100px" height="auto")
      
      td #{prefix}#{item.title}

      td 
        input(
          type="number",
          value=item.position,
          name="position",
          min="1",
          style="width: 60px"
        )
      td  
        if(item.status == "active")
          //- THẻ a mặc định phương thức GET nên ko dùng sai phươgn thức đc 
          //- href="javascript:;" giong xu ly form
          a(
            href="javascript:;" 
            class="badge badge-success"
            button-change-status
            data-status = item.status
            data-id = item.id
          ) Dang Hoat dong
        else  
          a(
            href="javascript:;" 
            class="badge badge-danger" 
            button-change-status 
            data-status = item.status
            data-id = item.id
            ) Dug Hoat dong
      td 
        a(
          class="btn btn-secondary btn-sm"
          href=`${prefixAdmin}/products-category/detail/${item._id}`
        ) xem chi tiet
        a(
          class="btn btn-warning btn-sm"
          href=`${prefixAdmin}/products-category/edit/${item._id}`
        ) Sua
        //- dong 108 button -> a để có thuộc tính href và GET method 
        button(class="btn btn-danger btn-sm ml-1"
        data-id = item._id
        button-delete
        ) Xoa

      if item.children && item.children.length > 0
        +table-tree(item.children, level + 1 )   

        //- +select-tree(item.children, level + 1 ) 