extends ../../layout/default.pug
include ../../mixins/alert.pug
block main
  +alert-success(4000)
  +alert-error(3000)
  h1(class="mb-4") Chinh sua san pham 
  form(
    action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH`
    id="form-edit-product"
    method="POST"
    enctype="multipart/form-data"
  ) 
    //-name cua cac input lay tuong ung theo cac truong trong db(khi ng dung gui name len server thi luu luoon vao db nen name can giong trong db)
    div(class="form-group")
      label(for="title") Tieu de 
      input(
        type="text"
        name="title" 
        id="title" 
        class="form-control" 
        required
        value=product.title
      ) 

    div(class="form-group")
      label(for="desc") Mo ta
      textarea(
        rows="5"
        name="description" 
        id="desc" 
        class="form-control" 
        required
      )  #{product.description}

    div(class="form-group")
      label(for="price") Gia
      input(
        type="number"
        name="price" 
        id="price" 
        class="form-control" 
        value=product.price
        min="0"
      )

    div(class="form-group")
      label(for="discount") % Giam gia
      input(
        type="number"
        name="discountPercentage" 
        id="discount" 
        class="form-control" 
        value=product.discountPercentage
        min="0"
      ) 
    
    div(class="form-group")
      label(for="stock") So luong
      input(
        type="number"
        name="stock" 
        id="stock" 
        class="form-control" 
        value=product.stock
        min="0"
      ) 
    
    
      
    div(
      class="form-group"
      upload-image
    )
      label(for="thumbnail") Anh
      input(
        type="file"
        name="thumbnail" 
        id="thumbnail" 
        class="form-control-file" 
        accept="image/*"
        upload-image-input
      )
      img(src=product.thumbnail alt="image" upload-image-preview class="image-prev") 

    div(class="form-group")
      label(for="position") Vi tri
      input(
        type="number"
        name="position" 
        id="position" 
        class="form-control" 
        min="1"
        placeholder="tu dong tang"
        value=product.position
      ) 
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        name="status" 
        id="statusActive" 
        class="form-check-input" 
        value="active"
        checked=(product.status=="active"? true: false)
      ) 
      label(for="statusActive" class="form-check-label") Hoat dong 
    
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        name="status" 
        id="statusInActive" 
        class="form-check-input" 
        value="inactive"
        checked=(product.status=="inactive"? true: false)
      ) 
      label(for="statusInActive" class="form-check-label") Dung hoat dong 
    
    div(class="form-group")
    button(
      type="submit"
      class="btn btn-primary"
    ) Cap nhat
    
  script(src="/admin/js/products.js")
  script(src="/tinymce/tinymce.min.js")
  script(src="/admin/js/tinymce-config.js")


  

