extends ../../layout/default.pug
//- mixin(nhúng)
include ../../mixins/filterStatus.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug


block main
  h1 trang danh sach san pham

  .card.mb-3 
    .card-header Bo loc va tim kiem 
    .card-body.mb-3
      .row
        .col-6
          +filter-status(filtersStatus)
        .col-6
          +search(keyword)
  .card.mb-3 
    .card-header Danh sach san pham
    .card-body
      +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
      //- form(
      //-   action =`${prefixAdmin}/products/change-multi?_method=PATCH` 
      //-   method = "POST"
      //-   form-change-multi
      //- )
      //-   .d-flex.align-items-start 
      //-     .form-group 
      //-       select(name="type" class="form-control")
      //-         option(value="active") Hoat dong 
      //-         option(value="inactive") Dung hoat dong  
      //-     .form-group 
      //-       input(
      //-         type="text"
      //-         name="ids"
      //-         value=""
      //-         class="form-control d-none"
      //-       )
      //-     button(type="submit" class="btn btn-primary") Ap dung 

      table(
        class = "table table-hover table-sm"
        checkbox-multi
      )
        thead
          tr
            th
              input(type="checkbox", name="checkall" ) 
            th STT
            th Hinh anh
            th Tieu de 
            th Gia 
            th Trang thai 
            th Hanh dong
        
        tbody 
          each item, index in products
            tr
              td
                input(
                  type="checkbox", name="id", value=item.id
                ) 
              td #{index + 1}
              td 
                img(src= item.thumbnail, alt="alt" width="100px" height="auto")
              td #{item.title}
              td #{item.price}
              td  
                if(item.status == "active")
                  //- THẻ a mặc định phương thức GET nên ko dùng sai phươgn thức đc 
                  //- href="javascript:;" giong xu ly form
                  a(
                    href="javascript:;" 
                    class="badge badge-success"
                    button-change-status
                    data-status = item.status
                    data-id = item.id
                  ) Dang Hoat dong
                else
                    
                  a(
                    href="javascript:;" 
                    class="badge badge-danger" 
                    button-change-status 
                    data-status = item.status
                    data-id = item.id
                    ) Dug Hoat dong
              td 
                button(class="btn btn-warning btn-sm") Sua
                button(class="btn btn-danger btn-sm ml-1"
                data-id = item.id
                button-delete
                ) Xoa

  +pagination(pagination)
  //- nav   
  //-   ul(class="pagination mt-4")
  //-     li(class="page-item")
  //-       button(class="page-link" button-pagination = 1) Di toi trang dau    
      
  //-     if(pagination.currentPage > 1)
  //-       li(class="page-item")
  //-         button(class="page-link" button-pagination = (pagination.currentPage - 1)) PRE
      

  //-     - for (var i = pagination.currentPage - 1; i <= pagination.currentPage + 1; ++i)
  //-       li(class=`page-item ${pagination.currentPage == i ? "active" :""}`)
  //-         button(class="page-link"
  //-         button-pagination = i) #{i}

  //-     if(pagination.currentPage < pagination.totalPage)
  //-       li(class="page-item")
  //-         button(class="page-link" button-pagination =  (pagination.currentPage + 1)) NEXT

  //-     li(class="page-item")
  //-         button(class="page-link" button-pagination =  (pagination.totalPage)) Di toi trang cuoi  
  //- GUI QUA FORM HOAC GUI QUA API
  form(
    action=""
    method="POST"
    id="form-change-status"
    data-path=`${prefixAdmin}/products/change-status` 
  )
  //- form xoa sp
  form(
    action=""
    method="POST"
    id="form-delete-item"
    data-path=`${prefixAdmin}/products/delete` 
  )
  script(src="/admin/js/products.js")



